
@{
    ViewBag.Title = "Productos";
}


<section id="content" class="prod">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <h2 class="p17">Nuestro menú</h2>
                <div class="wrapper p19">
                    <article class="grid_6 alpha">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img1.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 1</a>
                        <p class="p11">Descripcion del producto </p>
                        <span class="text5">$14.99</span>
                    </article>
                    <article class="grid_6">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img2.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 2</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$15.75</span>
                    </article>
                    <article class="grid_6">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img3.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 3</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$12.00</span>
                    </article>
                    <article class="grid_6 omega">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img4.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 4</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$14.50</span>
                    </article>
                </div>
                <div class="wrapper">
                    <article class="grid_6 alpha">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img5.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 5</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$10.80</span>
                    </article>
                    <article class="grid_6">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img6.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 6</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$13.99</span>
                    </article>
                    <article class="grid_6">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img7.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 7</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$16.25</span>
                    </article>
                    <article class="grid_6 omega">
                        <figure class="page3-img1 img-bot"><img src="/Styles/images/page3-img8.jpg" alt=""></figure>
                        <a class="link2" href="#">Producto 8</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$15.55</span>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>

<script src="~/Styles/FuncionesJS/Productos.js"></script>

