@{
    ViewBag.Title = "About";
}

<section id="content" class="prod">
    <div class="container_24">
        <span class="text3">Sobre Nosotros</span>
        <span class="text4">Nuestra Historia</span>
        <span class="text5">2007 - 2012</span>
        <p>
            Nació una pasión por la cocina
            Pronto se convertiría en el corazón de A La Pasta. Lo que comenzó como una receta familiar transmitida de generación en generación, se transformó en un sueño: llevar la mejor pasta a las mesas de muchas familias.
        </p>
        <span class="text5">2012 - 2018</span>
        <p>
            Con dedicación y amor por la tradición, la empresa fue creciendo.
            Desde el primer día, nos propusimos mantener la autenticidad y calidad de nuestra pasta, seleccionando solo los mejores ingredientes y perfeccionando cada proceso. Lo que antes se preparaba en una pequeña cocina ahora se produce en modernas instalaciones, pero con el mismo cuidado artesanal que nos caracteriza desde nuestros inicios.
        </p>
        <span class="text5">2018 - 2024</span>
        <p>
            Hoy, A La Pasta no solo es sinónimo de calidad, sino de recuerdos compartidos alrededor de la mesa.
            Nos enorgullece saber que nuestras pastas acompañan a tantas familias en sus momentos más especiales, siendo parte de su historia, tal como nuestra pasta lo es de la nuestra. ¡Y así seguimos, con el compromiso de llevar a tu mesa el sabor que siempre has amado!
        </p>
        <span class="text4">Nuestro Fundador: Alfredo Dimarco</span>
        <p>
            Alfredo Dimarco, un apasionado chef italiano, es el corazón y alma de A La Pasta. Nacido y criado en la hermosa región de Emilia-Romaña, Alfredo siempre ha llevado consigo el amor por la cocina y las tradiciones familiares. Hace cinco años, tomó la decisión de mudarse a Costa Rica, buscando un nuevo hogar donde pudiera compartir su pasión por la pasta con un público más amplio.
        </p>
        <p>
            Desde su llegada, Alfredo se dedicó a combinar recetas familiares transmitidas de generación en generación con los ingredientes frescos y exquisitos que Costa Rica tiene para ofrecer. Su visión era clara: crear una pasta que no solo capturara el sabor auténtico de Italia, sino que también celebrara la riqueza de la cultura costarricense.
        </p>
        <p>
            Gracias a su dedicación y esfuerzo, A La Pasta ha crecido y se ha convertido en un referente de calidad y autenticidad en la región. Cada paquete de pasta que producimos lleva consigo la esencia de Alfredo, reflejando su compromiso por mantener la tradición y la calidad en cada bocado. Su sueño de llevar la mejor pasta a las mesas de muchas familias se ha hecho realidad, y sigue trabajando con el mismo amor y pasión que lo caracterizan desde el principio.
        </p>

    </div>
</section>

<script src="~/Styles/FuncionesJS/About.js"></script>