@model Proyecto.Models.Contact

@{
    ViewBag.Title = "Contact";
}

<br>
<div class="container_24">
    <center><span class="text3">Contáctenos</span></center>
    <div class="card-body p-4">
        @using (Html.BeginForm("AgregarContacto", "Home", FormMethod.Post))
        {
            <div class="mb-3">
                <label for="NombreContacto" class="form-label">Nombre</label>
                @Html.TextBoxFor(m => m.NombreContacto, new { @class = "form-control", @placeholder = "Ingresa tu nombre", @required = "required" })
            </div>
            <div class="mb-3">
                <label for="NumeroTel" class="form-label">Número de teléfono</label>
                @Html.TextBoxFor(m => m.NumeroTel, new { @class = "form-control", @placeholder = "Ingresa tu número de teléfono", @required = "required" })
            </div>
            <div class="mb-3">
                <label for="Comentario" class="form-label">Déjanos tu comentario: </label>
                @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control", @rows = 3, @placeholder = "Comentario", @required = "required" })
            </div>
            <button type="submit" class="btn w-100 py-2" style="background-color: #f44c31; color: white;">Enviar Comentario</button>
        }
        <br>
        <br>
        <section id="informacion-contacto">
            <div class="container_24">
                <center><span class="text4">Información de Contacto</span></center>
                <p>
                    <strong>Correo Electrónico:</strong> alapasta@gmail.com<br>
                    <strong>Teléfono:</strong> +506 0800 1234<br>
                    <strong>Dirección:</strong> Avenida Central, San José, Costa Rica
                    <br><br>
                    Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros.
                </p>
            </div>
        </section>
    </div>
</div>
